.orbit-of-planet {
    position: absolute;
    width: 1; /*scale to irl*/
    height: 1; /*same as above*/
    animation: orbit 1s /*scale to irl*/ linear infinite;
}

.orbit-of-planet .orbit-reverser:has(.planet:hover) {
    animation: orbit 1.1s /*1.1 times the other one*/ linear infinite reverse;
}

.planet {
    height: 1 /*scale to irl*/;
    width: 1 /*same as above*/;
    background-color: red /*appropriate colour*/;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}