:root {
    --mercyful-white: #ddd;
    --space-rust: #cd7f32;
    --space-ice: #406E94;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    height: 0;
    overflow: visible;
}

header h1, header h2 {
    transform: translate(2rem, 2rem);
}

main {
    height: 100vh;
    max-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.info {
    background-color: black;
    height: 100vh;
    width: 24rem;
    color: var(--mercyful-white);
    padding: 2rem;
}

.info * {
    margin: 0.5rem;
}


.planets {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.orbit-reverser {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.orbit-reverser:has(aside:hover) {
    overflow: visible;
}

.planets aside:hover {
    cursor: pointer;
}


.orbit-of-Neptunus {
    position: absolute;
    width: 51vw;
    height: 51vw;
    animation: orbit 9822s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-Neptunus .orbit-reverser:has(.Neptunus:hover) {
    animation: orbit 10804s linear infinite reverse;
}

.Neptunus {
    height: 1vw;
    width: 1vw;
    background-color: rgb(44, 82, 255);
    box-shadow: 0 0 2px 2px rgba(44, 83, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.orbit-of-Uranus {
    position: absolute;
    width: 43vw;
    height: 43vw;
    animation: orbit 5022s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-Uranus .orbit-reverser:has(.Uranus:hover) {
    animation: orbit 5524s linear infinite reverse;
}

.Uranus {
    height: 1vw;
    width: 1vw;
    background-color: rgb(150, 204, 255);
    box-shadow: 0 0 2px 2px rgb(150, 204, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.orbit-of-Saturnus {
    position: absolute;
    width: 35vw;
    height: 35vw;
    animation: orbit 1764s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-Saturnus .orbit-reverser:has(.Saturnus:hover) {
    animation: orbit 1940s linear infinite reverse;
}

.Saturnus {
    height: 2vw;
    width: 2vw;
    background-color: rgb(15, 248, 151);
    box-shadow: 0 0 2px 2px rgb(15, 248, 151, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    overflow: visible;
}

.rings-of-saturn {
    height: 4px;
    width: 4vw;
    background-color: rgb(252, 255, 206);
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: 50%;
    transform: rotate(-12deg);
    animation: orbit 1764s linear infinite reverse;
}


.orbit-of-Jupiter {
    position: absolute;
    width: 27vw;
    height: 27vw;
    animation: orbit 714s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-Jupiter .orbit-reverser:has(.Jupiter:hover) {
    animation: orbit 785s linear infinite reverse;
}

.Jupiter {
    height: 2.5vw;
    width: 2.5vw;
    background-color: rgb(184, 150, 39);
    box-shadow: 0 0 2px 2px rgb(184, 150, 39, 05);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.orbit-of-Mars {
    position: absolute;
    width: 19vw;
    height: 19vw;
    animation: orbit 113s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-Mars .orbit-reverser:has(.Mars:hover) {
    animation: orbit 124s linear infinite reverse;
}

.Mars {
    height: 0.6vw;
    width: 0.6vw;
    background-color: rgb(223, 92, 40);
    box-shadow: 0 0 2px 2px rgb(223, 92, 40, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.orbit-of-Jorden {
    position: absolute;
    width: 15.4vw;
    height: 15.4vw;
    animation: orbit 60s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-Jorden .orbit-reverser:has(.Jorden:hover) {
    animation: orbit 66s linear infinite reverse;
}

.Jorden {
    height: 0.8vw;
    width: 0.8vw;
    background-color: rgb(44, 44, 204);
    box-shadow: 0 0 2px 2px rgb(44, 44, 204, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.orbit-of-Venus {
    position: absolute;
    width: 11.6vw;
    height: 11.6vw;
    animation: orbit 36s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-Venus .orbit-reverser:has(.Venus:hover) {
    animation: orbit 40s linear infinite reverse;
}

.Venus {
    height: 0.8vw;
    width: 0.8vw;
    background-color: rgb(219, 142, 26);
    box-shadow: 0 0 2px 2px rgb(219, 142, 26, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.orbit-of-Merkurius {
    position: absolute;
    width: 8vw;
    height: 8vw;
    animation: orbit 14.5s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-Merkurius .orbit-reverser:has(.Merkurius:hover) {
    animation: orbit 15.95s linear infinite reverse;
}

.Merkurius {
    height: 0.5vw;
    width: 0.5vw;
    background-color: rgb(91, 151, 240);
    box-shadow: 0 0 2px 2px rgb(91, 151, 240, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.Solen {
    height: 4vw;
    width: 4vw;
    background-color: rgb(255, 243, 188);
    box-shadow: 0 0 10px 5px orange;
    border-radius: 50%;
    position: absolute;
}



.planet {
    margin-top: 7rem;
    border: 3px solid var(--space-rust);
    border-radius: 5px;
}

.planet aside {
    margin: auto;
}

.latin-name {
    font-family: 'Orbitron', sans-serif;
    color: var(--space-ice);
}

.swedish-name {
    font-family: 'Orbitron', sans-serif;
    color: var(--space-rust);
}

.Neptunus-spinner {
    background-image: url('./imgs/Solarsystemscope_texture_2k_neptune.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    box-shadow: 0 0 10px 1px white;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    animation: planet-spin 3.3s linear infinite;
}

.Uranus-spinner {
    background-image: url('./imgs/Solarsystemscope_texture_2k_uranus.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    box-shadow: 0 0 10px 1px white;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    animation: planet-spin 3.6s linear infinite reverse;
}

.Saturnus-spinner {
    background-image: url('./imgs/Solarsystemscope_texture_2k_saturn.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    box-shadow: 0 0 10px 1px white;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    animation: planet-spin 2.2s linear infinite;
}

.Jupiter-spinner {
    background-image: url('./imgs/Jupiter_Cylindrical_Map_-_Dec_2000_PIA07782.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    box-shadow: 0 0 10px 1px white;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    animation: planet-spin 2.1s linear infinite;
}

.Mars-spinner {
    background-image: url('./imgs/Solarsystemscope_texture_2k_mars.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    box-shadow: 0 0 10px 1px white;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    animation: planet-spin 5s linear infinite;
}

.Jorden-spinner {
    background-image: url('./imgs/Solarsystemscope_texture_8k_earth_daymap.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    box-shadow: 0 0 10px 1px white;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    animation: planet-spin 5s linear infinite;
}

.Venus-spinner {
    background-image: url('./imgs/Solarsystemscope_texture_8k_venus_surface.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    box-shadow: 0 0 10px 1px white;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    animation: planet-spin 48s linear infinite reverse;
}

.Merkurius-spinner {
    background-image: url('./imgs/Solarsystemscope_texture_2k_mercury.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    box-shadow: 0 0 10px 1px white;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    animation: planet-spin 12s linear infinite;
}

.Solen-spinner {
    background-image: url('./imgs/Map_of_the_full_sun.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    box-shadow: 0 0 10px 5px orange;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    animation: planet-spin 125s linear infinite;
}

@keyframes orbit {
    from {rotate: 0deg;}
    to {rotate: 360deg;}
}

@keyframes planet-spin {
    to {background-position: -200% 0;}
}