:root {
    --mercyful-white: #ddd;
    --space-rust: #cd7f32;
    --space-ice: #406E94;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 0;
    overflow: visible;
}

header h1, header h2 {
    transform: translate(2rem, 2rem);
}

main {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
}

.search-area {
    color: var(--mercyful-white);
    height: 0;
    width: 0;
    overflow: visible;
    font-size: 1.25rem;
}

.search-area p {
    width: 12rem;
    margin-top: 5rem;
}

.search-area input {
    margin-top: 0.5rem;
    box-shadow: 0 0 10px 3px var(--space-ice), 0 0 10px 5px var(--space-rust);
}

.search-area ul {
    width: 10rem;
    color: var(--mercyful-white);
    margin-top: 1rem;
    text-align: end;
}

.search-area li {
    margin-bottom: 0.25rem;
}

.search-area li:hover {
    cursor: pointer;
}

.info {
    background-color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: var(--mercyful-white);
    /*padding: 2rem;*/
}

.invisible {
    display: none;
}

.info * {
    margin: 0.5rem;
}

.left-btn, .right-btn {
    background-color: black;
    color: var(--mercyful-white);
    font-size: 42px;
}

.back-btn {
    background-color: black;
    color: var(--mercyful-white);
    font-size: 22px;
}

.info button:hover {
    cursor: pointer;
}

.planet {
    margin: 10vw;
    max-width: 40rem;
    border: 3px solid var(--space-rust);
    border-radius: 5px;
}

.planet aside {
    margin: 5% auto 5% auto;
}

.planet p, .planet ul {
    padding: 1rem;
    border-top: 2px solid var(--space-rust);
}

.info nav {
    width: 0;
    overflow: visible;
    align-self: flex-start;
}



.latin-name {
    font-family: 'Orbitron', sans-serif;
    font-size: 42px;
    color: var(--space-ice);
}

.swedish-name {
    font-family: 'Orbitron', sans-serif;
    font-size: 22px;
    color: var(--space-rust);
}


.planets {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vw;
    max-height: 100vh;
    max-width: 100vh;
    overflow: visible;
}

.orbit-reverser {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    overflow: visible;
}

.orbit-reverser:has(aside:hover) {
    overflow: visible;
}

.planets aside:hover {
    cursor: pointer;
}


.orbit-of-Neptunus {
    position: absolute;
    width: 90%;
    height: 90%;
    animation: orbit 9822s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-Neptunus .orbit-reverser:has(.Neptunus:hover) {
    animation: orbit 10804s linear infinite reverse;
}

.Neptunus {
    height: 1.6%;
    width: 1.6%;
    background-color: rgb(44, 82, 255);
    box-shadow: 0 0 2px 2px rgba(44, 83, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.orbit-of-Uranus {
    position: absolute;
    width: 75%;
    height: 75%;
    animation: orbit 5022s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-Uranus .orbit-reverser:has(.Uranus:hover) {
    animation: orbit 5524s linear infinite reverse;
}

.Uranus {
    height: 2.1%;
    width: 2.1%;
    background-color: rgb(150, 204, 255);
    box-shadow: 0 0 2px 2px rgb(150, 204, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.orbit-of-Saturnus {
    position: absolute;
    width: 55%;
    height: 55%;
    animation: orbit 1764s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-Saturnus .orbit-reverser:has(.Saturnus:hover) {
    animation: orbit 1940s linear infinite reverse;
}

.Saturnus {
    height: 5.6%;
    width: 5.6%;
    background-color: rgb(15, 248, 151);
    box-shadow: 0 0 2px 2px rgb(15, 248, 151, 0.5);
    border-radius: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    overflow: visible;
}

.rings-of-saturn {
    height: 20%;
    width: 210%;
    background-color: rgb(252, 255, 206);
    border-radius: 50%;
    transform: rotate(-12deg);
    animation: orbit 1764s linear infinite reverse;
}


.orbit-of-Jupiter {
    position: absolute;
    width: 40%;
    height: 40%;
    animation: orbit 714s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-Jupiter .orbit-reverser:has(.Jupiter:hover) {
    animation: orbit 785s linear infinite reverse;
}

.Jupiter {
    height: 8.4%;
    width: 8.4%;
    background-color: rgb(184, 150, 39);
    box-shadow: 0 0 2px 2px rgb(184, 150, 39, 05);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.orbit-of-Mars {
    position: absolute;
    width: 30%;
    height: 30%;
    animation: orbit 113s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-Mars .orbit-reverser:has(.Mars:hover) {
    animation: orbit 124s linear infinite reverse;
}

.Mars {
    height: 2.8%;
    width: 2.8%;
    background-color: rgb(223, 92, 40);
    box-shadow: 0 0 2px 2px rgb(223, 92, 40, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.orbit-of-Jorden {
    position: absolute;
    width: 24%;
    height: 24%;
    animation: orbit 60s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-Jorden .orbit-reverser:has(.Jorden:hover) {
    animation: orbit 66s linear infinite reverse;
}

.Jorden {
    height: 5.6%;
    width: 5.6%;
    background-color: rgb(44, 44, 204);
    box-shadow: 0 0 2px 2px rgb(44, 44, 204, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.orbit-of-Venus {
    position: absolute;
    width: 16%;
    height: 16%;
    animation: orbit 36s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-Venus .orbit-reverser:has(.Venus:hover) {
    animation: orbit 40s linear infinite reverse;
}

.Venus {
    height: 7%;
    width: 7%;
    background-color: rgb(219, 142, 26);
    box-shadow: 0 0 2px 2px rgb(219, 142, 26, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.orbit-of-Merkurius {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    animation: orbit 14.5s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-Merkurius .orbit-reverser:has(.Merkurius:hover) {
    animation: orbit 15.95s linear infinite reverse;
}

.Merkurius {
    height: 7%;
    width: 7%;
    background-color: rgb(91, 151, 240);
    box-shadow: 0 0 2px 2px rgb(91, 151, 240, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.Solen {
    height: 5%;
    width: 5%;
    background-color: rgb(255, 243, 188);
    box-shadow: 0 0 10px 5px orange;
    border-radius: 50%;
    position: absolute;
}





.Neptunus-spinner {
    background-image: url('./imgs/Solarsystemscope_texture_2k_neptune.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    box-shadow: 0 0 10px 1px white;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    animation: planet-spin 3.3s linear infinite;
}

.Uranus-spinner {
    background-image: url('./imgs/Solarsystemscope_texture_2k_uranus.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    box-shadow: 0 0 10px 1px white;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    animation: planet-spin 3.6s linear infinite reverse;
}

.Saturnus-spinner {
    background-image: url('./imgs/Solarsystemscope_texture_2k_saturn.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    box-shadow: 0 0 10px 1px white;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    animation: planet-spin 2.2s linear infinite;
}

.Jupiter-spinner {
    background-image: url('./imgs/Jupiter_Cylindrical_Map_-_Dec_2000_PIA07782.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    box-shadow: 0 0 10px 1px white;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    animation: planet-spin 2.1s linear infinite;
}

.Mars-spinner {
    background-image: url('./imgs/Solarsystemscope_texture_2k_mars.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    box-shadow: 0 0 10px 1px white;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    animation: planet-spin 5s linear infinite;
}

.Jorden-spinner {
    background-image: url('./imgs/Solarsystemscope_texture_8k_earth_daymap.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    box-shadow: 0 0 10px 1px white;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    animation: planet-spin 5s linear infinite;
}

.Venus-spinner {
    background-image: url('./imgs/Solarsystemscope_texture_8k_venus_surface.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    box-shadow: 0 0 10px 1px white;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    animation: planet-spin 48s linear infinite reverse;
}

.Merkurius-spinner {
    background-image: url('./imgs/Solarsystemscope_texture_2k_mercury.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    box-shadow: 0 0 10px 1px white;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    animation: planet-spin 12s linear infinite;
}

.Solen-spinner {
    background-image: url('./imgs/Map_of_the_full_sun.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    box-shadow: 0 0 10px 5px orange;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    animation: planet-spin 125s linear infinite;
}

@keyframes orbit {
    to {rotate: 360deg;}
}

@keyframes planet-spin {
    to {background-position: -200% 0;}
}