* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    height: 0;
    overflow: visible;
}

header h1, header h2 {
    color: white;
    transform: translate(2rem, 2rem);
}

main {
    height: 100vh;
    max-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.info {
    background-image: linear-gradient(to right, black, rgb(0, 0, 10));
    height: 100vh;
    width: 24rem;
    color: white;
    padding: 2rem;
}

.info * {
    margin: 0.5rem;
}


.planets {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.orbit-reverser {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.orbit-reverser:has(aside:hover) {
    overflow: visible;
}

.planets aside:hover {
    cursor: pointer;
}


.orbit-of-neptune {
    position: absolute;
    width: 875px;
    height: 875px;
    animation: orbit 9822s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-neptune .orbit-reverser:has(.neptune:hover) {
    animation: orbit 10804s linear infinite reverse;
}

.neptune {
    height: 20px;
    width: 20px;
    background-color: rgb(44, 82, 255);
    box-shadow: 0 0 2px 2px rgba(44, 83, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.orbit-of-uranus {
    position: absolute;
    width: 750px;
    height: 750px;
    animation: orbit 5022s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-uranus .orbit-reverser:has(.uranus:hover) {
    animation: orbit 5524s linear infinite reverse;
}

.uranus {
    height: 20px;
    width: 20px;
    background-color: rgb(150, 204, 255);
    box-shadow: 0 0 2px 2px rgb(150, 204, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.orbit-of-saturn {
    position: absolute;
    width: 625px;
    height: 625px;
    animation: orbit 1764s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-saturn .orbit-reverser:has(.saturn:hover) {
    animation: orbit 1940s linear infinite reverse;
}

.saturn {
    height: 39px;
    width: 39px;
    background-color: rgb(15, 248, 151);
    box-shadow: 0 0 2px 2px rgb(15, 248, 151, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    overflow: visible;
}

.rings-of-saturn {
    height: 2px;
    width: 65px;
    background-color: rgb(252, 255, 206);
    border-radius: 50%;
    position: absolute;
    right: -13px;
    top: 50%;
    transform: rotate(-12deg);
    animation: orbit 1764s linear infinite reverse;
}


.orbit-of-jupiter {
    position: absolute;
    width: 500px;
    height: 500px;
    animation: orbit 714s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-jupiter .orbit-reverser:has(.jupiter:hover) {
    animation: orbit 785s linear infinite reverse;
}

.jupiter {
    height: 45px;
    width: 45px;
    background-color: rgb(184, 150, 39);
    box-shadow: 0 0 2px 2px rgb(184, 150, 39, 05);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.orbit-of-mars {
    position: absolute;
    width: 375px;
    height: 375px;
    animation: orbit 113s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-mars .orbit-reverser:has(.mars:hover) {
    animation: orbit 124s linear infinite reverse;
}

.mars {
    height: 10px;
    width: 10px;
    background-color: rgb(223, 92, 40);
    box-shadow: 0 0 2px 2px rgb(223, 92, 40, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.orbit-of-earth {
    position: absolute;
    width: 300px;
    height: 300px;
    animation: orbit 60s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-earth .orbit-reverser:has(.earth:hover) {
    animation: orbit 66s linear infinite reverse;
}

.earth {
    height: 20px;
    width: 20px;
    background-color: rgb(44, 44, 204);
    box-shadow: 0 0 2px 2px rgb(44, 44, 204, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.orbit-of-venus {
    position: absolute;
    width: 225px;
    height: 225px;
    animation: orbit 36s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-venus .orbit-reverser:has(.venus:hover) {
    animation: orbit 40s linear infinite reverse;
}

.venus {
    height: 18px;
    width: 18px;
    background-color: rgb(219, 142, 26);
    box-shadow: 0 0 2px 2px rgb(219, 142, 26, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.orbit-of-mercury {
    position: absolute;
    width: 150px;
    height: 150px;
    animation: orbit 14.5s linear infinite;
    overflow: visible;
    border-radius: 50%;
}

.orbit-of-mercury .orbit-reverser:has(.mercury:hover) {
    animation: orbit 15.95s linear infinite reverse;
}

.mercury {
    height: 10px;
    width: 10px;
    background-color: rgb(91, 151, 240);
    box-shadow: 0 0 2px 2px rgb(91, 151, 240, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.sun {
    height: 60px;
    width: 60px;
    background-color: rgb(255, 243, 188);
    box-shadow: 0 0 10px 5px orange;
    border-radius: 50%;
    position: absolute;
}



article {
}

.mars-spinner {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/46/Solarsystemscope_texture_2k_mars.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    animation: planet-spin 10s linear infinite;
}

@keyframes orbit {
    from {rotate: 0deg;}
    to {rotate: 360deg;}
}

@keyframes planet-spin {
    to {background-position: 200% 0;}
}